{% load django_bootstrap5 %}

<div class="modal fade" id="newProposal" tabindex="-1" aria-labelledby="newProposalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newProposalLabel">Новая заявка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                {% bootstrap_label "Тип" label_for="type_build" %}*
                            </div>
                            <div class="col-8">
                                {% bootstrap_field form.type_build layout='inline' %}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                {% bootstrap_label "Конфигурация системы охраны" label_for="type_security" %}*
                            </div>
                            <div class="col-8">
                                {% bootstrap_field form.type_security layout='inline' %}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                {% bootstrap_label "Контрагент" label_for="object_number" %}*
                            </div>
                            <div class="col-8">
                                {% bootstrap_field form.client_words layout='inline' %}
                            </div>
                            <div class="col-8 mt-4 offset-4">
                                {% bootstrap_field form.client_choices layout='inline' %}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                {% bootstrap_label "Объект" label_for="object_number" %}*
                            </div>
                            <div class="col-8">
                                {% bootstrap_field form.object_address layout='inline' %}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                {% bootstrap_label "Задача" label_for="descript_task" %}*
                            </div>
                            <div class="col-8">
                                {% bootstrap_field form.descript_task layout='inline' %}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                {% bootstrap_label "Выполнить" label_for="date_schedule" %}*
                            </div>
                            <div class="col-8">
                                {% bootstrap_field form.date_schedule layout='inline' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Создать запись</button>
            </div>
        </div>
    </div>
</div>